/*********************** CSS UTILI ***********************/
header {
    height: 8vh;
}

main {
    height: calc(100vh - 8vh);
}

main div.col-2.bg-dark.pe-0 {
    height: calc(100vh - 8vh);
}

.vh-90 {
    height: calc(100vh - 8vh);
    overflow: auto;
}

.my-fs {
    font-size: 0.6rem;
}

.my-w-10 {
    width: 10%;
}