/*********************** CSS UTILI ***********************/
header {
    height: 3rem;
}

main div.col-2.bg-dark.pe-0 {
    height: calc(100vh - 3rem);
}

.vh-90 {
    height: calc(100vh - 3rem);
    overflow: auto;
}

.my-fs {
    font-size: 0.6rem;
}

.my-w-1 {
    width: 1rem;
}

.my-w-2 {
    width: 2rem;
}

.my-bg-dark {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.my-bg-blue {
    background-color: #165BBA;
}

.my-btn {
    border-radius: 0;
}

.dropstart ul.dropdown-menu.my-p-absolute {
    position: absolute;
    top: 80%;
    right: 20%;
    left: auto;
    margin-top: 0;
    margin-right: 0.125rem;
}

.my-hover:hover {
    background-color: lightgrey;
}

.modal-backdrop.show.fade {
    opacity: 0;
}

/************** CSS MEDIA QUERY *****************/

@media all and (max-width: 576px) {
    #offcanvasWithBothOptions {
        width: 100%;
    }
}

@media all and (min-width: 576px) {
    #offcanvasWithBothOptions {
        width: 55%;
    }
}